
.frontpage-section section {
background-image: url('diary-cover.png');
margin-left: 50px;
margin-right: 50px;
border-style: solid;
border-width: 10px 20px 20px 20px;
border-image-source: url('diary-cover.png');
border-image-repeat: repeat;
}

.frontpage-large {
color: black;
margin-left: 50px;
margin-right: 50px;
text-align: center;
font-family: 'Pinyon Script', cursive;
font-size: 100px;
}

.frontpage-medium {
color: black;
margin-left: 50px;
margin-right: 50px;
text-align: center;
font-family: 'Pinyon Script', cursive;
font-size: 80px;
}

.frontpage-small {
color: black;
margin-left: 50px;
margin-right: 50px;
text-align: center;
font-family: 'Pinyon Script', cursive;
font-size: 50px;
}




.forward-section section {
background-image: url('paper.jpg');
margin-left: 50px;
margin-right: 50px;
border-style: solid;
border-width: 10px 20px 20px 20px;
border-color: olive;
border-image-source: url('paper.jpg');
border-image-repeat: repeat;
}

.forward-table table {
border: 1px solid lightgrey;
margin-top: 10cm;
font-size: 10px;
}

.forward-small {
font-size: 10px;
}




.month-section section {
background-image: url('paper.jpg');
margin-left: 50px;
margin-right: 50px;
border-style: solid;
border-width: 10px 20px 20px 20px;
border-color: olive;
border-image-source: url('paper.jpg');
border-image-repeat: repeat;
}




.intro-large {
color: navy;
margin-left: 50px;
margin-right: 50px;
text-align: center;
font-family: 'Pinyon Script', cursive;
font-size: 60px;
}

.intro-medium {
color: navy;
margin-left: 50px;
margin-right: 50px;
text-align: center;
font-family: 'Pinyon Script', cursive;
font-size: 20px;
}

.intro-medium-right {
color: navy;
margin-left: 50px;
margin-right: 50px;
text-align: right;
font-family: 'Pinyon Script', cursive;
font-size: 30px;
}





.normal {
margin-left: 50px;
margin-right: 50px;
}

.year {
color: navy;
font-family: 'Pinyon Script', cursive;
font-size: 50px;
}

.month {
color: navy;
font-family: 'Pinyon Script', cursive;
font-size: 50px;
}

a:link, a:visited {
  color: navy;
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color: red;
}

.highlight_yellow {
background-color: yellow;
}
.highlight_lime {
background-color: lime;
}
.highlight_aqua {
background-color: aqua;
}
.highlight_magenta {
background-color: magenta;
}
.highlight_blue {
background-color: blue;
}
.highlight_red {
background-color: red;
}
.highlight_navy {
background-color: navy;
}
.highlight_teal {
background-color: teal;
}
.highlight_green {
background-color: green;
}
.highlight_purple {
background-color: purple;
}
.highlight_maroon {
background-color: maroon;
}
.highlight_olive {
background-color: olive;
}
.highlight_gray {
background-color: gray;
}
.highlight_silver {
background-color: silver;
}
.highlight_black {
background-color: black;
}
